[submodule "jni/external/nmslib"]
	path = jni/external/nmslib
	url = https://github.com.cnpmjs.org/nmslib/nmslib.git
[submodule "jni/external/faiss"]
	path = jni/external/faiss
	url = https://github.com.cnpmjs.org/facebookresearch/faiss.git
